/* Google Fonts Links */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Common CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}

body {
    min-height: 500vh;
    background: #f5f5f5;
}

/* nav style */
nav {
    display: flex;
    justify-content: space-between;
    padding: 24px 160px;
    gap: 48px;
}
.logo {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
    color: #0E0E0E;
}
.sign-in-btn {
    padding: 15px 30px;
    color: #006A50;
    border: 1px solid #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    cursor: pointer;
}

/* hero section style */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0 auto;
    background: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px;
    gap: 64px;
}

.hero-content{
    display: flex;
    max-width: 622px;
    gap: 24px;
    flex-direction: column;
}
.hero-content h4 {
    font-size: 24px;
    line-height: 28.8px;
    font-weight: 500;
    color: #0E0E0E80;
}
.hero-content h1 {
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    color: #0E0E0E;
}
.btn {
    padding: 17px 34px;
    background: #006A50;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    line-height: 21.6px;
    font-weight: 600;
    border: none;
    width: 270px;
    height: 56px;
}

.hero-img {
    position: relative;
    max-width: 470px;
}
.hero-img img {
    width: 100%;
    height: auto;
}

/* The Vision of Future */
.section-heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 50px 0;
}
.section-title {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
    color: #0E0E0E;
}
.section-description {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0EB2;

}

.the-vision-of-future {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1280px;
    gap: 32px;
    margin: 0 auto;
}

.vision-box-section {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
}

.vision-box {
    background: #5490F533;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    height: 320px;
    position: relative;
    transition: all 0.3s ease;
}
.vision-box img {
    width: 64px;
    height: 64px;
}
.vision-box h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #0E0E0ECC;
}
.vision-box p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0EB2;
}
.common-btn {
    width: 122px;
    height: 40px;
    background: #5490F5;
    color: #fff;
    padding: 11px 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 24px;
    transition: all 0.3s ease;
}
.common-btn:hover {
    background: #1059d8;
}

.vision-bg-2 {
    background: #C6E4D6;
}
.vision-bg-3 {
    background: #F7EBCF;
}
.vision-btn-2 {
    background: #09A15C;
}
.vision-btn-2:hover {
    background: #014d2b;
}
.vision-btn-3 {
    background: #FFC239;
}
.vision-btn-3:hover {
    background: #a37a1a;
}


/* Testimonials Section */
.testimonials {
    padding-top: 100px;
}
.testimonials-box {
    display: flex;
    flex-direction: column;
    width: 1280px;
    margin: 0 auto;
    gap: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 16px;
    padding: 48px 24px;
    background: url(../assets/quote-bg.png) no-repeat;
    background-position: 2% 10%;

}
.testimonials-box p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0ECC;
}
.testimonials-box h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #0E0E0ECC;
}
.testimonials-box h3 span {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E99;
    display: block;
}

/* recent-news */
.recent-news {
    width: 1280px;
    margin: 0 auto;
}

.news-box {
    background: #fff;
    display: flex;
    gap: 48px;
    padding: 32px;
    border-radius: 24px;
}

.news-img-box {
    min-width: 400px;
    min-height: 300px;
    position: relative;
    border-radius: 24px;
}
.news-img-box img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
}
.news-content h3 {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    color: #0E0E0E;
}
.news-content img {
    width: 138px;
    height: 40px;
    margin-bottom: 10px;
}
.date-time {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #0E0E0E99;
}
.news-content .date {
    margin-right: 16px;
}
.news-content .news-content-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #0E0E0E;
    margin: 20px 0;
}
.read-more-btn {
    padding: 13px 26px;
    border-radius: 8px;
    background: #006A50;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.read-more-btn:hover {
    background: #01241b;
}
.news-box-reverse {
    flex-direction: row-reverse;
    margin: 30px 0;
}